%p
  Welcome #{@object.email}!
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', email_confirmation_api_users_url + "?token=" + @object.confirmation_token
